.scoring {
    &__container {
        width: 90%;
        margin: auto;
        background: white;
        border-radius: 28px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
        &_info {
            padding: 20px;
            display: flex;
            @media screen and (max-width: 1350px) {
                flex-wrap: wrap;
                justify-content: center;
            }
            @media screen and (max-width: 600px) {
                justify-content: space-around;
            }
        }

        &_title {
            font-family: 'Ubuntu', sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            width: 40%;
            @media screen and (max-width: 600px) {
                width: 70%;
            }
        }
        &_text {
            font-family: 'Ubuntu', sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            padding: 30px 0 0;
        }
        &_stepNum {
            font-family: 'Ubuntu', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
        }
    }

    &__select {
        padding: 10px 30px;
        &_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: 700px) {
                justify-content: center;
            }
        }

        &_label {
            font-family: 'Ubuntu', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            margin: 20px 0;
        }
        &_input {
            width: 380px;
            height: 40px;
            display: block;
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            background: rgba(249, 245, 227, 1);
            border-radius: 6px;
            border: 1px solid rgba(128, 128, 128, 0.2);
            color: rgba(128, 128, 128, 1);
            padding: 0 10px;
        }
        &_input_maxi {
            width: 580px;
            height: 40px;
            display: block;
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            background: rgba(249, 245, 227, 1);
            border-radius: 6px;
            border: 1px solid rgba(128, 128, 128, 0.2);
            color: rgba(128, 128, 128, 1);
            padding: 0 10px;
        }
        &_input_maxi:focus {
            border-color: #5b35d5;
        }
        &_input:focus {
            border-color: #5b35d5;
        }
        &_input_error {
            width: 380px;
            height: 40px;
            display: block;
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            background: rgba(249, 245, 227, 1);
            border-radius: 6px;
            border: 2px solid #ff5631;
            color: rgba(128, 128, 128, 1);
            padding: 0 10px;
            @media screen and (max-width: 560px) {
                width: 270px;
            }
        }
        &_input_error_maxi {
            width: 580px;
            height: 40px;
            display: block;
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            background: rgba(249, 245, 227, 1);
            border-radius: 6px;
            border: 2px solid #ff5631;
            color: rgba(128, 128, 128, 1);
            padding: 0 10px;
            @media screen and (max-width: 690px) {
                width: 490px;
            }
            @media screen and (max-width: 560px) {
                width: 300px;
            }
        }

        &_cont {
            display: block;
            width: 380px;
            height: 40px;
            background: rgba(249, 245, 227, 1);
            border-radius: 6px;
            border: 1px solid rgba(128, 128, 128, 0.2);
            padding: 0 10px;
            @media screen and (max-width: 560px) {
                width: 270px;
            }
        }
        &_stars {
            color: rgba(255, 0, 0, 1);
        }
    }

    &__input_container {
        display: flex;
        justify-content: space-between;
        width: 380px;
        position: relative;
        @media screen and (max-width: 560px) {
            width: 270px;
        }
    }

    &__input_container_maxi {
        display: flex;
        justify-content: space-between;
        width: 580px;
        position: relative;
        @media screen and (max-width: 690px) {
            width: 490px;
        }
        @media screen and (max-width: 560px) {
            width: 300px;
        }
    }
    &__input_container_maxi svg {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    &__input_container svg {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    &__errors {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: #ff5631;
    }

    &__button_container {
        display: flex;
        justify-content: flex-end;
        padding: 30px 0;
    }

    &__button {
        width: 148px;
        height: 48px;
        border-radius: 8px;
        background: rgba(0, 60, 255, 1);
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.02em;
        transition: 0.5s;
        &:hover {
            background: #7796c0;
        }
    }
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #1c1c1e;
        margin: 220px auto 40px;
        width: 50%;
    }
    &__text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #4f5665;
        width: 40%;
        margin: auto;
        padding-bottom: 120px;
    }
}
