.exchange {
    max-width: 1300px;
    margin: 50px auto;
    @include display-justify(flex, space-between, stretch);
    padding: 30px;
    background: $color-grad-white-grey;
    border-radius: 28px;

    @media screen and (max-width:$breakpoint_xxl) {
        max-width: 1000px;
    }

    @media screen and (max-width:$breakpoint_xl) {
        width: 90%;
        flex-direction: column-reverse;
    }
}

.exchange__title {
    @include fonts('Ubuntu', 500, 50px, 30px, 0em);
}

.exchange__text {
    @include fonts('Ubuntu', 500, 50px, 20px, 0em);
    margin-top: 20px;
}

.exchange__cur {
    padding-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.exchange__cur-value {
    @include fonts('Ubuntu', 700, 22px, 20px, 0.02em);
    color: $color-grey;
}

.exchange__cur-price {
    margin-left: 17px;
    color: $color-black;
}

.exchange__link {
    @include fonts('Ubuntu', 700, 22px, 20px, 0.02em);
    color: $color-white;
    display: block;
    padding-top: 52px;
    transition: 0.5s;

    &:hover {
        color: $color-pink;
    }
}

.exchange__update-text {
    @include fonts('Ubuntu', 500, 50px, 16px, 0em);
    text-align: left;

    @media screen and (max-width:$breakpoint_xl) {
        text-align: right;
    }
}

.exchange__update-img {
    display: block;
    float: right;
    margin-top: 80px;

    @media screen and (max-width:$breakpoint_xl) {
        display: none;
    }
}