.features {
    max-width: 1300px;
    margin: 0px auto;
    @include display-justify(flex, space-between, stretch);
    padding-top: 114px;

    @media screen and (max-width:$breakpoint_xxl) {
        max-width: 1000px;
    }

    @media screen and (max-width:$breakpoint_xl) {
        flex-direction: column;
    }

    .features__img {
        @media screen and (max-width:$breakpoint_xl) {
            display: block;
            margin: auto;
            width: 70%;
        }
    }

    .features__title {
        @include fonts('Rubik', 500, 50px, 35px, 0em);
        margin-top: 73px;

        @media screen and (max-width:$breakpoint_xl) {
            width: 70%;
            display: block;
            margin: 30px auto;
            text-align: center;
        }
    }

    .features__text {
        @include fonts('Rubik', 400, 30px, 16px, 0em);
        margin-top: 20px;

        @media screen and (max-width:$breakpoint_xl) {
            display: block;
            margin: 30px auto;
            width: 70%;
            text-align: center;
        }
    }

    .features__list {
        padding-top: 17px;

        @media screen and (max-width:$breakpoint_xl) {
            width: 230px;
            margin: auto;
        }

        .features__list-item {
            @include fonts('Rubik', 400, 30px, 14px, 0em);
            margin-top: 10px;

            &::before {
                content: url(../assets/img/chek.png);
                margin-right: 20px;
            }
        }
    }
}