.support {
    max-width: 1300px;
    margin: 0px auto;
    padding-top: 820px;
    text-align: center;
}

.support__text-color {
    @include fonts('Ubuntu', 700, 35px, 24px, 0.02em);
    color: $color-orange;
}

.support__title {
    @include fonts('Ubuntu', 700, 44px, 30px, 0.02em);
    padding-top: 30px;
}

.support__text {
    @include fonts('Ubuntu', 500, 44px, 30px, 0.02em);
    padding: 23px 0px 55px 0px;

}

.support__form {
    @include button(525px, 90px, 20px, $color-white, $color-light-grey);
    margin: auto;
    @include display-justify(flex, space-between, center);
    padding: 40px 20px 40px 40px;

    @media screen and (max-width:$breakpoint_xl) {
        width: 400px;
        padding: 20px 10px;
    }

    @media screen and (max-width:$breakpoint_md) {
        width: 300px;
    }
}

.support__form-input {
    width: 270px;
    @include fonts('Nunito Sans', 400, 29px, 20px, 0.02em);

    &::placeholder {
        @include fonts('Nunito Sans', 400, 29px, 20px, 0.02em);
        color: $color-light-grey;
        text-align: left;
        padding-left: 10px;

        @media screen and (max-width:$breakpoint_md) {
            @include fonts('Nunito Sans', 400, 29px, 16px, 0.02em);
        }
    }

    @media screen and (max-width:$breakpoint_xl) {
        width: 150px;
    }

    @media screen and (max-width:$breakpoint_md) {
        width: 100px;
    }
}

.support__form-button {
    @include button(161px, 45px, 20px, $color-violent, $color-white);
    padding: 10px;
    @include fonts('Ubuntu', 700, 20px, 16px, 0em);
    @include display-justify(flex, flex-start, center);
    transition: 0.5s;

    &:hover {
        @include button(161px, 45px, 20px, $color-pink, $color-white);
    }

    @media screen and (max-width:$breakpoint_md) {
        width: 130px;
    }
}

.support__form-sign {
    padding-right: 10px;

    @media screen and (max-width:$breakpoint_md) {
        padding-right: 5px;
    }
}