@font-face {
    font-family: 'Rubik';
    src: local("Rubik-Medium"),
        url("../../assets/fonts/Rubik-Medium.woff") format("woff"),
        url("../../assets/fonts/Rubik-Medium.woff2") format("woff2");
        font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: local("Rubik-Regular"),
        url("../../assets/fonts/Rubik-Regular.woff") format("woff"),
        url("../../assets/fonts/Rubik-Regular.woff2") format("woff2");
        font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu-Bold"),
        url("../../assets/fonts/Ubuntu-Bold.woff") format("woff"),
        url("../../assets/fonts/Ubuntu-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu-Medium"),
        url("../../assets/fonts/Ubuntu-Medium.woff") format("woff"),
        url("../../assets/fonts/Ubuntu-Medium.woff2") format("woff2");
        font-weight: 500;
}
@font-face {
    font-family: 'Nunito Sans';
    src: local("Nunito Sans-Regular"),
        url("../../assets/fonts/NunitoSans-Regular.woff") format("woff"),
        url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
        font-weight: 400;
}