@font-face {
    font-family: "Rubik";
    src: local("Rubik-Medium"),
        url("Rubik-Medium.woff") format("woff"),
        url("Rubik-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Rubik";
    src: local("Rubik-Regular"),
        url("Rubik-Regular.woff") format("woff"),
        url("Rubik-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Bold"),
        url("Ubuntu-Bold.woff") format("woff"),
        url("Ubuntu-Bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Medium"),
        url("Ubuntu/Ubuntu-Medium.woff") format("woff"),
        url("Ubuntu/Ubuntu-Medium.woff2") format("woff2");
    font-weight: 500;
}

