.world {
    max-width: 1300px;
    margin: 0px auto;
    text-align: center;
    @media screen and (max-width: 1350px) {
        max-width: 1000px;
    }
    @media screen and (max-width: 850px) {
        width: 90%;
    }
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 50px;
        font-size: 30px;
        padding-top: 50px;
    }

    &__text {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        line-height: 50px;
        font-size: 16px;
        padding-top: 8px;
    }

    &__img {
        margin-top: 38px;

        @media screen and (max-width: 1050px) {
            width: 80%;
        }
    }
}
